# Mac
com.apple.timemachine.supported

# Kernel generator
*.exe

## C++
# Compiled Object files
*.slo
*.lo
*.o
# Compiled Dynamic libraries
*.so
*.dylb
# Compiled Static libraries
*.lai
*.la
*.a

# Fortran
*.mod

# Executable
build/SeisSol_*

# Python
*.py[cod]

# Scons
*.dblite
config.log
.sconf_temp
