# SPDX-FileCopyrightText: 2015-2024 SeisSol Group
#
# SPDX-License-Identifier: BSD-3-Clause
# SPDX-LicenseComments: Full text under /LICENSE and /LICENSES/
#
# SPDX-FileContributor: Author lists in /AUTHORS and /CITATION.cff

[submodule "submodules/xdmfwriter"]
	path = submodules/xdmfwriter
	url = ../../TUM-I5/XdmfWriter.git
[submodule "submodules/utils"]
	path = submodules/utils
	url = ../../TUM-I5/utils.git
[submodule "submodules/async"]
	path = submodules/async
	url = ../../TUM-I5/ASYNC.git
[submodule "submodules/PUML"]
	path = submodules/PUML
	url = ../../TUM-I5/PUML2.git
[submodule "submodules/yateto"]
	path = submodules/yateto
	url = ../../SeisSol/yateto.git
[submodule "submodules/Device"]
	path = submodules/Device
	url = ../../SeisSol/Device.git
[submodule "submodules/fty"]
	path = submodules/fty
	url = ../../SeisSol/fty.git
