[submodule "submodules/xdmfwriter"]
	path = submodules/xdmfwriter
	url = github.com/TUM-I5/XdmfWriter.git
[submodule "submodules/cxxtest"]
	path = submodules/cxxtest
	url = github.com/CxxTest/cxxtest.git
[submodule "submodules/utils"]
	path = submodules/utils
	url = github.com/TUM-I5/utils.git
[submodule "submodules/async"]
	path = submodules/async
	url = github.com/TUM-I5/ASYNC.git
[submodule "submodules/scons-tools"]
	path = submodules/scons-tools
	url = github.com/TUM-I5/scons-tools.git
[submodule "submodules/PUML"]
	path = submodules/PUML
	url = github.com/TUM-I5/PUML2.git
[submodule "submodules/easi"]
	path = submodules/easi
	url = github.com/SeisSol/easi.git
[submodule "submodules/yaml-cpp"]
	path = submodules/yaml-cpp
	url = github.com/jbeder/yaml-cpp.git
[submodule "submodules/ImpalaJIT"]
	path = submodules/ImpalaJIT
	url = github.com/uphoffc/ImpalaJIT.git
[submodule "submodules/yateto"]
	path = submodules/yateto
	url = github.com/SeisSol/yateto.git
[submodule "submodules/eigen3"]
	path = submodules/eigen3
	url = github.com/eigenteam/eigen-git-mirror
[submodule "submodules/Device"]
	path = submodules/Device
	url = github.com/SeisSol/Device.git
