stages:
    - pre_test
    - build 
    - test
    
gpu_test_pre:
    stage: pre_test
    tags:
        - atsccs68-shell
    before_script:
        - git branch -vva
        - echo $commit_author_name
    script:
        - whoami
        - pwd
        - echo $PATH
        - echo $HOST
        - echo $GPU_VENDOR $GPU_MODEL
        - git --version
        
ci_builder_pre:
    stage: pre_test
    tags:
        - ci_testing_cc
    before_script:
        - git branch -vva
        - echo $commit_author_name
    script:
        - whoami
        - pwd
        - echo $PATH

gpu_test_build:
    stage: build
    tags:
        - atsccs68-shell
    before_script:
        - git branch -vva
        - git log --format="%H" -n 1
        - git log --format="%H" -n 1 > commit_id
        - git --no-pager show -s --format='%ae' $commit_id
        - commit_author_name=$(git --no-pager show -s --format='%ae' $commit_id) 
        - echo $commit_author_name
    script:
        - whoami
        - pwd
        - git submodule set-url submodules/xdmfwriter https://github.com/
        - git submodule set-url submodules/cxxtest https://github.com/
        - git submodule set-url submodules/yateto https://github.com/
        - git clone --recurse-submodules https://github.com/SeisSol/SeisSol
        - git clone https://github.com/7bits-register/convergence-tests.git tests
        - ls
        - cat /etc/os-release
        - cat test_singularity.sh
        - chmod +x test_singularity.sh
        - which singularity 
        - singularity --version
        - singularity pull library://7bits-register/collection/seissol-base.sif:sha256.99a798009fb5845985cc898de558d384bfc8b5354e955037c14896518d2f1820
        - ls
        - singularity run --nv -B $PWD:/home/$(whoami) --env GPU_VENDOR=nvidia --env GPU_MODEL=sm_61 --env HOST=snb ./seissol-base.sif_sha256.99a798009fb5845985cc898de558d384bfc8b5354e955037c14896518d2f1820.sif ./test_singularity.sh


ci_builder_build:
    stage: build
    tags:
        - ci_testing_cc
    variables:
        GIT_SUBMODULE_STRATEGY: recursive
    before_script:
        - whoami
        - pwd
        - ls
        - git submodule set-url submodules/xdmfwriter https://github.com/
        - git submodule set-url submodules/cxxtest https://github.com/
        - git submodule --quiet update --init --recursive 
        - wget -q https://syncandshare.lrz.de/dl/fiJNAokgbe2vNU66Ru17DAjT/netcdf-4.6.1.tar.gz
        - wget -q https://github.com/hfp/libxsmm/archive/master.zip
        - sudo apt-get install gcc-8 g++-8 gfortran-8
        - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 100
        - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 100
        - sudo update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran-8 100
        - sudo apt-get install -qq --yes openmpi-bin openmpi-common libopenmpi-dev hdf5-tools libhdf5-openmpi-dev python3 python3-pip libmetis-dev libparmetis-dev cxxtest
        - gfortran --version
        - pip3 install --upgrade pip
        - pip3 install 'numpy>=1.12.0'
        - pip3 install lxml
        - pip3 install setuptools
        - pip3 install sphinx
        - pip3 install sphinx_rtd_theme
        - cd netcdf-4.6.1 && CC=h5pcc ./configure --prefix=/usr --enable-shared=no --disable-dap && make && sudo make install && cd ..
        - unzip master.zip
        - cd libxsmm-master && make generator && sudo cp bin/libxsmm_gemm_generator /usr/bin && cd ..
    script:
        - echo "now building"
        - echo $CI_REGISTRY $CI_REGISTRY_IMAGE $CI_REGISTRY_USER
        - pwd
        - git submodule update --init --recursive
        - cmake --version
        - set -euo pipefail
        - export IFS=$'\n\t'
        - export CTEST_OUTPUT_ON_FAILURE=1
        - equation=elastic
        - mechanisms=0
        - for precision in single double ; 
            do for build_type in Release Debug ; 
                do for equation in elastic viscoelastic2 ;
                    do dirname="build_${equation}_${precision}_${build_type}";
                    echo "mkdir $dirname";
                    if [ "$equation" = viscoelastic2 ]; then mechanisms=3; else mechanisms=0; fi;
                    mkdir -p $dirname && cd $dirname ;
                    pwd; 
                    CMAKE_PREFIX_PATH=~ ;
                    cmake -DNETCDF=OFF -DMETIS=ON -DCOMMTHREAD=ON -DASAGI=OFF -DHDF5=ON -DCMAKE_BUILD_TYPE=$build_type -DTESTING=ON -DLOG_LEVEL=warning -DLOG_LEVEL_MASTER=info -DARCH=hsw -DPRECISION=$precision -DEQUATIONS=$equation -DNUMBER_OF_MECHANISMS=$mechanisms -DGEMM_TOOLS_LIST=LIBXSMM .. ;
                    make -j $(nproc);
                    cd .. ; 
                  done;
             done; 
          done;
          
    artifacts:
        paths:
            - build_*
            
ci_builder_test:
    stage: test
    tags:
        - ci_testing_cc
    script: 
        - echo "echo testing"

        
