stages:
  - build
  - test
  - post-test

variables:
  cpu_image_name: "cpu-ci-image"
  cpu_image_version: "v0.0.6"
  gpu_image_name: "gpu-ci-image"
  gpu_image_version: "v0.0.4"

Building_Docker_Images:
  stage: build
  trigger:
    include:
      - gitlab-docker-images.yml
    strategy: depend 

Testing_SeisSol_CPU:
  stage: test
  trigger:
    include:
      - gitlab-cpu-pipeline.yml
    strategy: depend

Testing_SeisSol_GPU:
  stage: test
  trigger:
    include:
      - gitlab-gpu-pipeline.yml
    strategy: depend

pages:
    stage: post-test
    tags:
        - sccs
        - build
    allow_failure: false
    image:
        name: $CI_REGISTRY_USER/$cpu_image_name:$cpu_image_version
        entrypoint: [""]
    before_script:
        - mkdir -p ./public/${CI_COMMIT_BRANCH}
    script:
        - apt update
        - apt install -y doxygen graphviz fonts-freefont-ttf
        - cd Documentation/doxygen
        - doxygen ./Doxyfile
        - mv html/* ../../public/${CI_COMMIT_BRANCH}/
    artifacts:
        paths:
            - public
    only:
        - master

