# SPDX-FileCopyrightText: 2024 SeisSol Group
#
# SPDX-License-Identifier: BSD-3-Clause
# SPDX-LicenseComments: Full text under /LICENSE and /LICENSES/
#
# SPDX-FileContributor: Author lists in /AUTHORS and /CITATION.cff

name: build-seissol-gpu
on:
  - push

env:
  precomputed-hash: 4cc0993d4ba3b8f0aabc84af78e405af9d98f902

jobs:
  seissol-build-test:
    name: seissol-build-test<${{matrix.setup.cc}}, ${{matrix.setup.backend}}, ${{matrix.setup.arch}}, ${{matrix.build_type}}>
    runs-on: ubuntu-24.04
    container: ${{ matrix.setup.container }}
    continue-on-error: true
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        precision:
          - single
        arch:
          - hsw
        build_type:
          - Release
          #- Debug
        setup:
          - arch: sm_60
            backend: cuda
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            runner: ubuntu-24.04
            pythonbreak: true
          - arch: sm_60
            backend: cuda
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            runner: ubuntu-24.04
            pythonbreak: true
          - arch: gfx906
            backend: hip
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-amd:davschneller-gpu-image
            runner: ubuntu-24.04
            pythonbreak: true
          - arch: gfx906
            backend: hip
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-amd:davschneller-gpu-image
            runner: ubuntu-24.04
            pythonbreak: true
          - arch: skl
            backend: oneapi
            cc: icx
            cxx: icpx
            fc: ifx
            container: seissol/gha-gpu-intel:davschneller-gpu-image
            runner: ubuntu-24.04
            pythonbreak: false
    env:
      cc: ${{matrix.setup.cc}}
      cxx: ${{matrix.setup.cxx}}
      fc: ${{matrix.setup.fc}}
      hostarch: ${{matrix.arch}}
      buildtype: ${{matrix.build_type}}
      tests: OFF
      devicearch: ${{matrix.setup.arch}}
      devicebackend: ${{matrix.setup.backend}}
    steps:
      - name: setup
        run: |
          if [ "${{ matrix.setup.pythonbreak }}" = false ]; then
            # the Intel image still works with an older Python version. Hence, use the following hack.
            pip3 install pyyaml
            git clone https://github.com/seissol/tensorforge.git
            export PYTHONPATH=$(pwd)/tensorforge:$PYTHONPATH
            export CMAKE_PREFIX_PATH=$(python3 -c 'import tensorforge; tensorforge.print_cmake_path()'):$CMAKE_PREFIX_PATH
          else
            pip3 install --break-system-packages git+https://github.com/seissol/tensorforge.git
          fi

      - name: checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: ./.github/actions/seissol-build
        name: elastic-s-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: elastic
          cfg-mechanisms: 0
          cfg-precision: single
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: viscoelastic-3-s-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: viscoelastic2
          cfg-mechanisms: 3
          cfg-precision: single
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: anisotropic-s-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: anisotropic
          cfg-mechanisms: 0
          cfg-precision: single
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: acoustic-s-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: acoustic
          cfg-mechanisms: 0
          cfg-precision: single
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: elastic-s-p3-f32
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 3
          cfg-equation: elastic
          cfg-mechanisms: 0
          cfg-precision: single
          cfg-simulations: 32

      - name: upload-seissol
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: seissol-${{matrix.build_type}}-${{matrix.setup.arch}}-${{matrix.setup.backend}}-${{matrix.setup.cc}}
          path: /opt/seissol

  seissol-run-test:
    runs-on: ${{matrix.setup.container-runner}}
    container:
      image: ${{ matrix.setup.container }}
      options: ${{ matrix.setup.container-options || ' ' }}
    continue-on-error: true
    needs: [seissol-build-test]
    if: ${{ github.repository == 'SeisSol/SeisSol' }}
    strategy:
      fail-fast: false
      matrix:
        precision:
          - single
        arch:
          - hsw
        build_type:
          - Release
        setup:
          - arch: sm_60
            backend: cuda
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            pythonbreak: true
            ompi: true
            container-options: --runtime=nvidia --gpus=all
            container-runner: self-hosted
          - arch: sm_60
            backend: cuda
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            pythonbreak: true
            ompi: true
            container-options: --runtime=nvidia --gpus=all
            container-runner: self-hosted
        parallel:
          - ranks: 1
            threads: 4
            commthread: false
          - ranks: 4
            threads: 1
            commthread: false
    steps:
      - name: install-packages
        run: |
          # circumvent problems with the Intel image still using Ubuntu 22.04

          if [ "${{ matrix.setup.pythonbreak }}" = true ]; then
            pip3 install --break-system-packages numpy>=1.12.0 lxml==5.0.0 setuptools seissolxdmf pandas jq
          else
            pip3 install numpy>=1.12.0 lxml==5.0.0 setuptools seissolxdmf pandas jq
          fi

      - id: get-precomputed-solutions
        name: get-precomputed-solutions
        uses: actions/checkout@v6
        with:
          repository: seissol/precomputed-seissol
          ref: ${{env.precomputed-hash}}
          path: precomputed

      # TODO: make this checkout obsolete
      - name: get-verification-scripts
        uses: actions/checkout@v6

      - name: get-seissol
        id: get-seissol
        uses: actions/download-artifact@v5
        with:
          name: seissol-${{matrix.build_type}}-${{matrix.setup.arch}}-${{matrix.setup.backend}}-${{matrix.setup.cc}}
          path: install

      - name: tpv5/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5/single

      - name: tpv5-nuc/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-nuc/single

      - name: tpv5-4nuc/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-4nuc/single

      - name: tpv6/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv6/single

      - name: tpv13/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv13/single

      - name: tpv16/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv16/single

      - name: tpv101/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv101/single

      - name: tpv101-slip/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv101-slip/single

      - name: tpv104/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv104/single

      - name: tpv105/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv105/single

      - name: tpvyoffe/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpvyoffe/single

      - name: tpvgaussian/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpvgaussian/single

      - name: ttpv1/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: ttpv1/single

      - name: tpv5-visco/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-visco/single

      - name: ahsp/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: ahsp/single

      - name: loh1-fused/single # (temporary)
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: loh1-fused/single

      - name: tpv13-fused/single # (temporary)
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv13-fused/single

      - name: tpv13-fused-plasticity/single # (temporary)
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv13-fused-plasticity/single
