# SPDX-FileCopyrightText: 2024 SeisSol Group
#
# SPDX-License-Identifier: BSD-3-Clause
# SPDX-LicenseComments: Full text under /LICENSE and /LICENSES/
#
# SPDX-FileContributor: Author lists in /AUTHORS and /CITATION.cff

name: build-seissol-cpu
on:
  - push

env:
  precomputed-hash: 0f623b3e263726bc547997ca29790936396847df

jobs:
  seissol-build-test:
    name: seissol-build-test<${{matrix.setup.name}}, ${{matrix.arch}}, ${{matrix.build_type}}>
    runs-on: ubuntu-24.04
    container: ${{ matrix.setup.container }}
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        arch:
          - hsw
        build_type:
          - Release
          #- Debug
        setup:
          - cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-cpu:davschneller-gpu-image
            name: gcc-13
          - cc: clang-19
            cxx: clang++-19
            fc: gfortran-13 # TODO?
            container: seissol/gha-cpu:davschneller-gpu-image
            name: clang-19
          - cc: icx
            cxx: icpx
            fc: ifx
            container: seissol/gha-gpu-intel:davschneller-gpu-image
            name: icx-2024
          #- cc: nvc
          #  cxx: nvc++
          #  fc: nvfortran
          #  container: seissol/gha-gpu-nvhpc:davschneller-gpu-image
    env:
      cc: ${{matrix.setup.cc}}
      cxx: ${{matrix.setup.cxx}}
      fc: ${{matrix.setup.fc}}
      hostarch: ${{matrix.arch}}
      buildtype: ${{matrix.build_type}}
      tests: ON
      devicearch: none
      devicebackend: none
    steps:
      - id: checkout
        name: checkout-seissol
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: ./.github/actions/seissol-build
        name: elastic-d-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: elastic
          cfg-mechanisms: 0
          cfg-precision: double
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: viscoelastic-3-d-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: viscoelastic2
          cfg-mechanisms: 3
          cfg-precision: double
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: poroelastic-d-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: poroelastic
          cfg-mechanisms: 0
          cfg-precision: double
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: anisotropic-d-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: anisotropic
          cfg-mechanisms: 0
          cfg-precision: double
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: acoustic-d-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: acoustic
          cfg-mechanisms: 0
          cfg-precision: double
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: elastic-d-p6-f8
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: elastic
          cfg-mechanisms: 0
          cfg-precision: double
          cfg-simulations: 8

      - uses: ./.github/actions/seissol-build
        name: elastic-s-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: elastic
          cfg-mechanisms: 0
          cfg-precision: single
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: viscoelastic-3-s-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: viscoelastic2
          cfg-mechanisms: 3
          cfg-precision: single
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: poroelastic-s-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: poroelastic
          cfg-mechanisms: 0
          cfg-precision: single
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: anisotropic-s-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: anisotropic
          cfg-mechanisms: 0
          cfg-precision: single
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: acoustic-s-p6
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: acoustic
          cfg-mechanisms: 0
          cfg-precision: single
          cfg-simulations: 1

      - uses: ./.github/actions/seissol-build
        name: elastic-s-p6-f8
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          cfg-order: 6
          cfg-equation: elastic
          cfg-mechanisms: 0
          cfg-precision: single
          cfg-simulations: 8

      - name: upload-seissol
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && steps.checkout.outcome == 'success' }}
        with:
          name: seissol-${{matrix.build_type}}-${{matrix.arch}}-${{matrix.setup.name}}
          path: /opt/seissol

  seissol-run-test:
    name: seissol-run-test
    runs-on: ubuntu-24.04
    container: ${{ matrix.setup.container }}
    continue-on-error: true
    needs: [seissol-build-test]
    if: ${{ github.repository == 'SeisSol/SeisSol' }} #  && (github.ref_name == 'master')
    strategy:
      fail-fast: false
      matrix:
        arch:
          - hsw
        build_type:
          - Release
        setup:
          - cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-cpu:davschneller-gpu-image
            pythonbreak: true
            ompi: true
            name: gcc-13
          - cc: clang-19
            cxx: clang++-19
            fc: gfortran-13 # TODO?
            container: seissol/gha-cpu:davschneller-gpu-image
            pythonbreak: true
            ompi: true
            name: clang-19
          - cc: icx
            cxx: icpx
            fc: ifx
            container: seissol/gha-gpu-intel:davschneller-gpu-image
            pythonbreak: false
            ompi: false
            name: icx-2024
          #- cc: nvc
          #  cxx: nvc++
          #  fc: nvfortran
          #  container: seissol/gha-gpu-nvhpc:davschneller-gpu-image
          #  pythonbreak: true
          #  ompi: true
        parallel:
          - ranks: 1
            threads: 4
            commthread: false
          - ranks: 4
            threads: 1
            commthread: false
    env:
      commsize: ${{matrix.parallel.ranks}}
      rankthreads: ${{matrix.parallel.threads}}
      ompi: ${{matrix.setup.ompi}}
      device: 'cpu'
    steps:
      - name: install-packages
        run: |
          # circumvent problems with the Intel image still using Ubuntu 22.04

          if [ "${{ matrix.setup.pythonbreak }}" = true ]; then
            pip3 install --break-system-packages numpy>=1.12.0 lxml==5.0.0 setuptools seissolxdmf pandas jq
          else
            pip3 install numpy>=1.12.0 lxml==5.0.0 setuptools seissolxdmf pandas jq
          fi

      - id: get-precomputed-solutions
        name: get-precomputed-solutions
        uses: actions/checkout@v6
        with:
          repository: seissol/precomputed-seissol
          ref: ${{env.precomputed-hash}}
          path: precomputed

      # TODO: make this checkout obsolete
      - name: get-verification-scripts
        uses: actions/checkout@v6

      - name: get-seissol
        id: get-seissol
        uses: actions/download-artifact@v5
        with:
          name: seissol-${{matrix.build_type}}-${{matrix.arch}}-${{matrix.setup.name}}
          path: install

      - name: tpv5/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5/double

      - name: tpv5-nuc/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-nuc/double

      - name: tpv5-4nuc/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-4nuc/double

      - name: tpv6/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv6/double

      - name: tpv13/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv13/double

      - name: tpv16/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv16/double

      - name: tpv101/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv101/double

      - name: tpv101-slip/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv101-slip/double

      - name: tpv104/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv104/double

      - name: tpv105/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv105/double

      - name: tpvyoffe/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpvyoffe/double

      - name: tpvgaussian/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpvgaussian/double

      - name: ttpv1/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: ttpv1/double

      - name: loh1-ic/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: loh1-ic/double

      - name: tpv5-visco/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-visco/double

      - name: tpv5-poro/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-poro/double

      - name: ahsp/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: ahsp/double

      - name: loh1-fused/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: loh1-fused/double

      - name: tpv13-fused/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv13-fused/double

      - name: tpv13-fused-plasticity/double
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv13-fused-plasticity/double

# all single below
      - name: tpv5/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5/single

      - name: tpv5-nuc/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-nuc/single

      - name: tpv5-4nuc/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-4nuc/single

      - name: tpv6/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv6/single

      - name: tpv13/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv13/single

      - name: tpv16/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv16/single

      - name: tpv101/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv101/single

      - name: tpv101-slip/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv101-slip/single

      - name: tpv104/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv104/single

      - name: tpv105/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv105/single

      - name: tpvyoffe/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpvyoffe/single

      - name: tpvgaussian/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpvgaussian/single

      - name: ttpv1/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: ttpv1/single

      - name: loh1-ic/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: loh1-ic/single

      - name: tpv5-visco/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-visco/single

      - name: tpv5-poro/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv5-poro/single

      - name: ahsp/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: ahsp/single

      - name: loh1-fused/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: loh1-fused/single

      - name: tpv13-fused/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv13-fused/single

      - name: tpv13-fused-plasticity/single
        uses: ./.github/actions/seissol-test
        if: ${{ !cancelled() && steps.get-seissol.outcome == 'success' }}
        with:
          case: tpv13-fused-plasticity/single
