# SPDX-FileCopyrightText: 2024 SeisSol Group
#
# SPDX-License-Identifier: BSD-3-Clause
# SPDX-LicenseComments: Full text under /LICENSE and /LICENSES/
#
# SPDX-FileContributor: Author lists in /AUTHORS and /CITATION.cff

name: build-seissol-gpu
on:
  - push

env:
  precomputed-hash: 0fe0a82d19d2452c213789a51bc1d65edcf3c1ee

jobs:
  seissol-build-test:
    name: seissol-build-test
    runs-on: ${{ matrix.setup.runner }}
    container: ${{ matrix.setup.container }}
    continue-on-error: true
    env:
      EXENAME: |
        ${{
          format('{0}_{1}{2}_{3}_{4}_{5}{6}{7}',
            matrix.build_type,
            matrix.precision == 'single' && 's' || 'd',
            matrix.setup.arch,
            matrix.setup.backend,
            matrix.equation.order,
            matrix.equation.type,
            matrix.equation.materialorder != 1 && format('_h{0}', matrix.equation.materialorder) || '',
            matrix.equation.multisim != 1 && format('_f{0}', matrix.equation.multisim) || ''
          )
        }}
    strategy:
      fail-fast: false
      matrix:
        arch:
          - snb # <-- needed for the self-hosted CI node for now :/
        build_type:
          - Release
          #- Debug
        equation:
          - type: acoustic
            multisim: 1
            mechanisms: 0
            materialorder: 1
            order: 6
          - type: elastic
            multisim: 1
            mechanisms: 0
            materialorder: 1
            order: 6
          - type: poroelastic
            multisim: 1
            mechanisms: 0
            materialorder: 1
            order: 6
          - type: viscoelastic2
            multisim: 1
            mechanisms: 3
            materialorder: 1
            order: 6
          - type: anisotropic
            multisim: 1
            mechanisms: 0
            materialorder: 1
            order: 6
          - type: elastic
            multisim: 32
            mechanisms: 0
            materialorder: 1
            order: 3
          - type: elastic
            multisim: 1
            mechanisms: 0
            materialorder: 2
            order: 6
        precision:
          - single
          - double
        setup:
          - arch: sm_60
            backend: cuda
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            runner: ubuntu-24.04
            pythonbreak: true
          - arch: sm_60
            backend: cuda
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            runner: ubuntu-24.04
            pythonbreak: true
          # TODO: needs a working GPU runner
          #- arch: sm_60
          #  backend: cuda
          #  cc: nvc
          #  cxx: nvc++
          #  fc: nvfortran
          #  container: seissol/gha-gpu-nvhpc:davschneller-gpu-image
          #  runner: sccs-ci-nv-sm60
          #  pythonbreak: true
          - arch: gfx906
            backend: hip
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-amd:davschneller-gpu-image
            runner: ubuntu-24.04
            pythonbreak: true
          - arch: gfx906
            backend: hip
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-amd:davschneller-gpu-image
            runner: ubuntu-24.04
            pythonbreak: true
          - arch: skl
            backend: oneapi
            cc: icx
            cxx: icpx
            fc: ifx
            container: seissol/gha-gpu-intel:davschneller-gpu-image
            runner: ubuntu-24.04
            pythonbreak: false
    steps:
      - name: checkout-seissol
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - id: build
        name: build-seissol
        run: |
          if [ "${{ matrix.equation.type }}" = viscoelastic2 ] || [ "${{ matrix.equation.type }}" = poroelastic ] || [ "${{ matrix.equation.multisim }}" != 1 || [ "${{ matrix.equation.materialorder }}" != 1  ]; then
              if [ "${{ matrix.setup.pythonbreak }}" = false ]; then
                  # the Intel image still works with an older Python version. Hence, use the following hack.
                  pip3 install pyyaml
                  git clone --branch develop https://github.com/seissol/tensorforge.git
                  export PYTHONPATH=$(pwd)/tensorforge:$PYTHONPATH
                  export CMAKE_PREFIX_PATH=$(python3 -c 'import tensorforge; tensorforge.print_cmake_path()'):$CMAKE_PREFIX_PATH
              else
                  pip3 install --break-system-packages git+https://github.com/seissol/tensorforge.git@develop
              fi
              DEVICE_CODEGEN=tensorforge
          else
              DEVICE_CODEGEN=auto
          fi

          mkdir build && cd build

          # TODO: change to `-Wall -Werror` at some point
          EXTRA_FLAGS="-Wall"

          export CFLAGS="${EXTRA_FLAGS} ${CFLAGS}"
          export CXXFLAGS="${EXTRA_FLAGS} ${CXXFLAGS}"
          export FFLAGS="${EXTRA_FLAGS} ${FFLAGS}"

          export CC=${{matrix.setup.cc}}
          export CXX=${{matrix.setup.cxx}}
          export FC=${{matrix.setup.fc}}

          cmake .. -GNinja -DDEVICE_CODEGEN=${DEVICE_CODEGEN} -DTESTING=OFF -DDEVICE_BACKEND=${{matrix.setup.backend}} -DDEVICE_ARCH=${{matrix.setup.arch}} -DHOST_ARCH=${{matrix.arch}} -DORDER=${{matrix.equation.order}} -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DEQUATIONS=${{matrix.equation.type}} -DPRECISION=${{matrix.precision}} -DNUMBER_OF_MECHANISMS=${{ matrix.equation.mechanisms }} -DNUMBER_OF_FUSED_SIMULATIONS=${{ matrix.equation.multisim }} -DMATERIAL_ORDER=${{ matrix.equation.materialorder }} -DASAGI=ON -DCMAKE_INSTALL_PREFIX=/opt/seissol
          ninja install

      - name: upload-seissol
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && steps.build.outcome == 'success' }}
        with:
          name: seissol-${{matrix.build_type}}-${{matrix.precision}}-${{matrix.setup.arch}}-${{matrix.setup.backend}}-${{matrix.equation.order}}-${{matrix.equation.type}}-${{matrix.equation.materialorder}}-${{matrix.equation.multisim}}-${{matrix.setup.cc}}
          path: /opt/seissol

  seissol-cache-precomputed:
    name: seissol-cache-precomputed
    runs-on: sccs-ci-nv-sm60
    container: seissol/gha-cpu:davschneller-gpu-image
    if: ${{ github.repository == 'SeisSol/SeisSol' && false }}
    steps:
      - id: cache-precomputed-solutions
        name: cache-precomputed-solutions
        uses: corca-ai/local-cache@v3
        with:
          key: ${{env.precomputed-hash}}
          path: precomputed
          base: /home/runner/_cache
          clean-key: true
      - id: get-precomputed-solutions
        name: get-precomputed-solutions
        uses: actions/checkout@v4
        if: steps.cache-precomputed-solutions.outputs.cache-hit != 'true'
        with:
          repository: seissol/precomputed-seissol
          ref: ${{env.precomputed-hash}}
          path: precomputed

  seissol-run-test:
    name: seissol-run-test
    runs-on: sccs-ci-nv-sm60
    container: ${{ matrix.setup.container }}
    continue-on-error: true
    needs: [seissol-build-test, seissol-cache-precomputed]
    if: ${{ github.repository == 'SeisSol/SeisSol' && false }}
    env:
      EXENAME: |
        ${{
          format('{0}_{1}{2}_{3}_{4}_{5}{6}{7}',
            matrix.build_type,
            matrix.precision == 'single' && 's' || 'd',
            matrix.setup.arch,
            matrix.setup.backend,
            matrix.case.order,
            matrix.case.equation,
            matrix.equation.materialorder != 1 && format('_h{0}', matrix.equation.materialorder) || '',
            matrix.case.multisim != 1 && format('_f{0}', matrix.case.multisim) || ''
          )
        }}
    strategy:
      fail-fast: false
      matrix:
        case:
          # NOTE: the commented tests do not yet work on the GPU on this branch
          - name: tpv5
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpv5-nuc
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpv5-visco
            equation: viscoelastic2
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          #- name: tpv5-poro
          #  equation: poroelastic
          #  multisim: 1
          #  energies: false # incomplete, hence disabled
          #  receivers: true
          #  fault: true
          #  order: 6
          - name: tpv6
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpv13
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpv16
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpv101
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpv101-slip
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpv104
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpv105
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpvahsp
            equation: anisotropic
            multisim: 1
            energies: false
            receivers: true
            fault: false
            order: 6
          - name: tpvgaussian
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpvyoffe
            equation: elastic
            multisim: 1
            energies: true
            receivers: true
            fault: true
            order: 6
          - name: tpvloh1-fused
            equation: elastic
            multisim: 32
            energies: true
            receivers: true
            fault: false # NYI
            order: 3
        precision:
          - single
        arch:
          - hsw
        build_type:
          - Release
        setup:
          - arch: sm_60
            backend: cuda
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            pythonbreak: true
            mpi: openmpi
          - arch: sm_60
            backend: cuda
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            pythonbreak: true
            mpi: openmpi
          # TODO: needs a working GPU runner
          #- arch: sm_60
          #  backend: cuda
          #  cc: nvc
          #  cxx: nvc++
          #  fc: nvfortran
          #  container: seissol/gha-gpu-nvhpc:davschneller-gpu-image
          #  pythonbreak: true
          #  mpi: openmpi
        parallel:
          - ranks: 1
            threads: 4
            commthread: false
          - ranks: 4
            threads: 1
            commthread: false
    steps:
      - name: install-packages # TODO: move to containers
        run: |
          # circumvent problems with the Intel image still using Ubuntu 22.04

          if [ "${{ matrix.setup.pythonbreak }}" = true ]; then
            pip3 install --break-system-packages numpy>=1.12.0 lxml==5.0.0 setuptools seissolxdmf pandas
          else
            pip3 install numpy>=1.12.0 lxml==5.0.0 setuptools seissolxdmf pandas
          fi
      
      - id: load-precomputed-solutions
        name: load-precomputed-solutions
        uses: corca-ai/local-cache@v3
        with:
          key: ${{env.precomputed-hash}}
          path: precomputed
          base: /home/runner/_cache
      - name: get-seissol
        uses: actions/download-artifact@v4
        with:
          name: seissol-${{matrix.build_type}}-${{matrix.precision}}-${{matrix.setup.arch}}-${{matrix.setup.backend}}-${{matrix.case.order}}-${{matrix.equation.materialorder}}-${{matrix.case.equation}}-${{matrix.setup.cc}}
          path: install
      - name: run-seissol
        id: run
        run: |
          if [ ${{matrix.setup.mpi}} = openmpi ]; then
            MPI_OPTIONS="--oversubscribe --allow-run-as-root";
          elif [ ${{matrix.setup.mpi}} = intel ]; then
            MPI_OPTIONS="";
          else
            MPI_OPTIONS="";
          fi;

          export PATH=$(pwd)/install/bin:$PATH
          export LD_LIBRARY_PATH=$(pwd)/install/lib:$(pwd)/install/lib64:$LD_LIBRARY_PATH

          chmod +x $(pwd)/install/bin/*
          
          export OMP_NUM_THREADS=${{matrix.parallel.threads}}
          export SEISSOL_COMMTHREAD=${{matrix.parallel.commthread}}
          export SEISSOL_MINI_NUM_ELEMENTS=100
          export DEVICE_STACK_MEM_SIZE=0.25

          # FIXME: compile the container with GPU-aware MPI
          export SEISSOL_USM_MPI=1

          cd precomputed/${{matrix.case.name}}
          
          mpirun ${MPI_OPTIONS} -np ${{matrix.parallel.ranks}} SeisSol_${EXENAME}

      # TODO: make this checkout obsolete
      - name: get-verification-scripts
        uses: actions/checkout@v4
        with:
          path: scripts
      
      # for now, compare faults only on single-rank setups
      - name: check-fault
        if: ${{ !cancelled() && steps.run.outcome == 'success' && matrix.case.fault && matrix.parallel.ranks == 1 }}
        run: |
          FAULT_FILE=tpv-fault.xdmf
          EPSILON=0.05

          cd precomputed/${{matrix.case.name}}
          python3 $GITHUB_WORKSPACE/scripts/postprocessing/validation/compare-faults.py ./output/${FAULT_FILE} ./precomputed/${{matrix.precision}}/${FAULT_FILE} --epsilon ${EPSILON}
      - name: check-receivers
        if: ${{ !cancelled() && steps.run.outcome == 'success' && matrix.case.receivers }}
        run: |
          EPSILON=0.05

          if [ ${{matrix.case.name}} = tpv5 ] || [ ${{matrix.case.name}} = tpv5-nuc ] || [ ${{matrix.case.name}} = tpv6 ] || [ ${{matrix.case.name}} = tpv16 ]; then
            MODE=lsw;
          elif [ ${{matrix.case.name}} = tpv105 ]; then
            MODE=tp;
          else
            MODE=rs;
          fi;

          cd precomputed/${{matrix.case.name}}
          python3 $GITHUB_WORKSPACE/scripts/postprocessing/validation/compare-receivers.py ./output ./precomputed/${{matrix.precision}} --epsilon ${EPSILON} --mode $MODE
      - name: check-energy
        if: ${{ !cancelled() && steps.run.outcome == 'success' && matrix.case.energies }}
        run: |
          ENERGY_FILE=tpv-energy.csv
          EPSILON=0.05

          cd precomputed/${{matrix.case.name}}
          python3 $GITHUB_WORKSPACE/scripts/postprocessing/validation/compare-energies.py ./output/${ENERGY_FILE} ./precomputed/${{matrix.precision}}/${ENERGY_FILE} --epsilon ${EPSILON}
