# SPDX-FileCopyrightText: 2024 SeisSol Group
#
# SPDX-License-Identifier: BSD-3-Clause

name: build-seissol-gpu
on:
  - push

jobs:
  seissol-build-test:
    name: seissol-build-test
    runs-on: sccs-ci-zen2 #${{ matrix.setup.runner }}
    container: ${{ matrix.setup.container }}
    strategy:
      fail-fast: false
      matrix:
        order:
          - 6
        arch:
          - snb # <-- needed for the self-hosted CI node for now :/
        build_type:
          - Release
          - Debug
        equation:
          - elastic
          - anisotropic
        precision:
          - single
          - double
        setup:
          - arch: sm_60
            backend: cuda
            syclcc: acpp
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            runner: ubuntu-24.04
          - arch: sm_60
            backend: cuda
            syclcc: acpp
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            runner: ubuntu-24.04
          #- arch: sm_60
          #  backend: cuda
          #  syclcc: acpp
          #  cc: nvc
          #  cxx: nvc++
          #  fc: nvfortran
          #  container: seissol/gha-gpu-nvhpc:davschneller-gpu-image
          #  runner: sccs-ci-nv-sm60
          - arch: gfx906
            backend: hip
            syclcc: acpp
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-amd:davschneller-gpu-image
            runner: ubuntu-24.04
          - arch: gfx906
            backend: hip
            syclcc: acpp
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-amd:davschneller-gpu-image
            runner: ubuntu-24.04
          - arch: skl
            backend: oneapi
            syclcc: dpcpp
            cc: icx
            cxx: icpx
            fc: ifx
            container: seissol/gha-gpu-intel:davschneller-gpu-image
            runner: ubuntu-24.04
    steps:
      - name: checkout-seissol
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - id: build
        name: build-seissol
        run: |
          mkdir build && cd build
          if [ "${{ matrix.equation }}" = viscoelastic2 ]; then
              mechanisms=3
          else
              mechanisms=0
          fi

          # TODO: change to `-Wall -Werror` at some point
          EXTRA_FLAGS="-Wall"

          # FIXME: hotfix. Needs to be fixed in SeisSol itself
          export HIP_PATH=/opt/rocm

          export CFLAGS="${EXTRA_FLAGS} ${CFLAGS}"
          export CXXFLAGS="${EXTRA_FLAGS} ${CXXFLAGS}"
          export FFLAGS="${EXTRA_FLAGS} ${FFLAGS}"

          export CC=${{matrix.setup.cc}}
          export CXX=${{matrix.setup.cxx}}
          export FC=${{matrix.setup.fc}}

          cmake .. -GNinja -DTESTING=OFF -DDEVICE_BACKEND=${{matrix.setup.backend}} -DDEVICE_ARCH=${{matrix.setup.arch}} -DSYCL_CC=${{matrix.setup.syclcc}} -DHOST_ARCH=${{matrix.arch}} -DORDER=${{matrix.order}} -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DEQUATIONS=${{matrix.equation}} -DPRECISION=${{matrix.precision}} -DNUMBER_OF_MECHANISMS=$mechanisms -DCMAKE_INSTALL_PREFIX=/opt/seissol
          ninja install

      - name: upload-seissol
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && steps.build.outcome == 'success' }}
        with:
          name: seissol-${{matrix.build_type}}-${{matrix.precision}}-${{matrix.setup.arch}}-${{matrix.setup.backend}}-${{matrix.order}}-${{matrix.equation}}-${{matrix.setup.cc}}
          path: /opt/seissol

  seissol-run-test:
    name: seissol-run-test
    runs-on: sccs-ci-nv-sm60
    container: ${{ matrix.setup.container }}
    continue-on-error: true
    needs: [seissol-build-test]
    strategy:
      fail-fast: false
      matrix:
        case:
          - name: tpv5
            equation: elastic
            energies: true
            receivers: true
            fault: true
          - name: tpv5-nuc
            equation: elastic
            energies: true
            receivers: true
            fault: true
          #- name: tpv5-visco
          #  equation: viscoelastic2
          #  energies: true
          #  receivers: true
          #  fault: true
          #- name: tpv5-poro
          #  equation: poroelastic
          #  energies: true
          #  receivers: true
          #  fault: true
          - name: tpv6
            equation: elastic
            energies: true
            receivers: true
            fault: true
          - name: tpv13
            equation: elastic
            energies: true
            receivers: true
            fault: true
          - name: tpv16
            equation: elastic
            energies: true
            receivers: false # FIXME: does not work right now; disabled in the Gitlab CI
            fault: false # FIXME: does not work right now on GPUs
          - name: tpv101
            equation: elastic
            energies: true
            receivers: true
            fault: true
          - name: tpv101-slip
            equation: elastic
            energies: true
            receivers: true
            fault: true
          - name: tpv104
            equation: elastic
            energies: true
            receivers: true
            fault: true
          #- name: tpv105
          #  equation: elastic
          #  energies: true
          #  receivers: true
          #  fault: true
          - name: tpvahsp
            equation: anisotropic
            energies: false
            receivers: true
            fault: false
          - name: tpvgaussian
            equation: elastic
            energies: true
            receivers: true
            fault: true
          - name: tpvyoffe
            equation: elastic
            energies: true
            receivers: true
            fault: true
        precision:
          - single
        order:
          - 6
        arch:
          - hsw
        build_type:
          - Release
        setup:
          - arch: sm_60
            backend: cuda
            syclcc: acpp
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            pythonbreak: true
            mpi: openmpi
          - arch: sm_60
            backend: cuda
            syclcc: acpp
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-nv:davschneller-gpu-image
            pythonbreak: true
            mpi: openmpi
          #- arch: sm_60
          #  backend: cuda
          #  syclcc: acpp
          #  cc: nvc
          #  cxx: nvc++
          #  fc: nvfortran
          #  container: seissol/gha-gpu-nvhpc:davschneller-gpu-image
          #  pythonbreak: true
          #  mpi: openmpi
        parallel:
          - ranks: 1
            threads: 4
            commthread: false
          - ranks: 4
            threads: 1
            commthread: false
    steps:
      - name: install-packages
        run: |
          # circumvent problems with the Intel image still using Ubuntu 22.04

          if [ "${{ matrix.setup.pythonbreak }}" = true ]; then
            pip3 install --break-system-packages numpy>=1.12.0 lxml==5.0.0 setuptools seissolxdmf pandas
          else
            pip3 install numpy>=1.12.0 lxml==5.0.0 setuptools seissolxdmf pandas
          fi
      
      - id: get-precomputed-solutions
        name: get-precomputed-solutions
        uses: actions/checkout@v4
        with:
          repository: seissol/precomputed-seissol
          ref: be764d550211b997819c85bb898f6eb6007d3418
          path: precomputed
      - name: get-seissol
        uses: actions/download-artifact@v4
        with:
          name: seissol-${{matrix.build_type}}-${{matrix.precision}}-${{matrix.setup.arch}}-${{matrix.setup.backend}}-${{matrix.order}}-${{matrix.case.equation}}-${{matrix.setup.cc}}
          path: install
      - name: run-seissol
        id: run
        run: |
          if [ "${{ matrix.precision }}" = single ]; then
              precision=s
          else
              precision=d
          fi

          if [ ${{matrix.setup.mpi}} = openmpi ]; then
            MPI_OPTIONS="--oversubscribe --allow-run-as-root";
          elif [ ${{matrix.setup.mpi}} = intel ]; then
            MPI_OPTIONS="";
          else
            MPI_OPTIONS="";
          fi;

          export PATH=$(pwd)/install/bin:$PATH
          export LD_LIBRARY_PATH=$(pwd)/install/lib:$(pwd)/install/lib64:$LD_LIBRARY_PATH

          chmod +x $(pwd)/install/bin/*
          
          export OMP_NUM_THREADS=${{matrix.parallel.threads}}
          export SEISSOL_COMMTHREAD=${{matrix.parallel.commthread}}
          export SEISSOL_MINI_NUM_ELEMENTS=100
          export DEVICE_STACK_MEM_SIZE=0.25

          cd precomputed/${{matrix.case.name}}
          
          mpirun ${MPI_OPTIONS} -np ${{matrix.parallel.ranks}} SeisSol_${{matrix.build_type}}_${precision}${{matrix.setup.arch}}_${{matrix.setup.backend}}_${{matrix.order}}_${{matrix.case.equation}}

      # TODO: make this checkout obsolete
      - name: get-verification-scripts
        uses: actions/checkout@v4
        with:
          path: scripts
      
      # for now, compare faults only on single-rank setups
      - name: check-fault
        if: ${{ !cancelled() && steps.run.outcome == 'success' && matrix.case.fault && matrix.parallel.ranks == 1 }}
        run: |
          FAULT_FILE=tpv-fault.xdmf
          EPSILON=0.05

          cd precomputed/${{matrix.case.name}}
          python3 $GITHUB_WORKSPACE/scripts/postprocessing/validation/compare-faults.py ./output/${FAULT_FILE} ./precomputed/${{matrix.precision}}/${FAULT_FILE} --epsilon ${EPSILON}
      - name: check-receivers
        if: ${{ !cancelled() && steps.run.outcome == 'success' && matrix.case.receivers }}
        run: |
          EPSILON=0.05

          if [ ${{matrix.case.name}} = tpv5 ] || [ ${{matrix.case.name}} = tpv5-nuc ] || [ ${{matrix.case.name}} = tpv6 ] || [ ${{matrix.case.name}} = tpv16 ]; then
            MODE=lsw;
          elif [ ${{matrix.case.name}} = tpv105 ]; then
            MODE=tp;
          else
            MODE=rs;
          fi;

          cd precomputed/${{matrix.case.name}}
          python3 $GITHUB_WORKSPACE/scripts/postprocessing/validation/compare-receivers.py ./output ./precomputed/${{matrix.precision}} --epsilon ${EPSILON} --mode $MODE
      - name: check-energy
        if: ${{ !cancelled() && steps.run.outcome == 'success' && matrix.case.energies }}
        run: |
          ENERGY_FILE=tpv-energy.csv
          EPSILON=0.05

          cd precomputed/${{matrix.case.name}}
          python3 $GITHUB_WORKSPACE/scripts/postprocessing/validation/compare-energies.py ./output/${ENERGY_FILE} ./precomputed/${{matrix.precision}}/${ENERGY_FILE} --epsilon ${EPSILON}
