name: clang-format
on:
  - push

jobs:
  clang-format:
    name: clang-format
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: apt-get
        run: |
          sudo apt-get update
          sudo apt-get -y install python3 python3-pip
          pip3 install clang-format

      - name: run-clang-format
        run: |
          set -euo pipefail
          clang-format --version
          which clang-format
          ./.ci/format.sh $(which clang-format) .
          git diff > formatting.patch
          cat formatting.patch 
          if [ -s ./formatting.patch ]; then (exit 176); fi
