# SPDX-FileCopyrightText: 2024 SeisSol Group
#
# SPDX-License-Identifier: BSD-3-Clause
# SPDX-LicenseComments: Full text under /LICENSE and /LICENSES/
#
# SPDX-FileContributor: Author lists in /AUTHORS and /CITATION.cff

name: sphinx-lint
on:
  - push

jobs:
  sphinx-lint:
    name: sphinx-lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        name: checkout-seissol

      - name: apt-get
        run: |
          sudo apt-get update
          sudo apt-get -y install python3 python3-pip
          pip install sphinx_lint==1.0.0

      - name: run-sphinx-lint
        run: |
          set -euo pipefail
          sphinx-lint Documentation/
